<h2> Welcome to pizza shop </h2>

<h3> Products: </h3>



<div class="container">
  <div class="row">
  	<% @products.each do |p| %>
		<div class="col-md-3 col-sm-6"> 
			<div class='thumbnail'>
		 	<a href="/product/<%= p.id %>"> <img src="<%= p.path_to_image %>" width="250" height="300"> </a>
		 	<br/>
		 	<div class="row">
		 		<div class="col-md-4"> <b> <%= p.title %> </b></div>
		 		<div class="col-md-4">Size: <%= p.size %> cm.</div>
		 		<div class="col-md-4">Cost: <%= p.price %> $</div>
		 	</div>	
		 	<div class="row">
		 		<div class="col-md-4"> 
		 			<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= p.id%>)">Add to Cart</button> 
		 		</div>
		 	</div>		
			</div>
		</div>
	<%end%>
  </div>
</div>




<br/>
<br/>

<script type="text/javascript">

$(function() {
	
	update_orders();
});

</script>


<!-- <button class="btn-primary" onclick="something()">Click me</button>
<br/>
<br/>
<button class="btn-primary" onclick="increment()">Inc X</button>
<br/>
<br/>
<button class="btn-primary" onclick="something_1()">Click me_32</button>
<br/>
<br/>
<br/>
<br/>
<button class="btn-primary" onclick="something_2()">Click me_32_2</button>
<br/>
<br/> -->


