<h2> Product details: </h2>



<div class='row'>
	<div class="col-sm-5"> 
	     	 <img src="<%= @product.path_to_image %>" width='400' height='250'>
	</div>
		<div class="col-sm-4"><b> <%= @product.title %> </b></div>
		<div class="col-sm-4">Size: <%= @product.size %> </div>
		<div class="col-sm-4">Cost: <%= @product.price %> $</div>
		<div class="col-sm-4">Cost: <%= @product.description %></div>
		<div class="col-sm-4">Spicy: <%= @product.is_spicy %></div>
		<div class="col-sm-4">Vegy: <%= @product.is_veg %></div>
		<div class="col-sm-4">Best offer: <%= @product.is_best_offer %></div>






				

</div>